:root {
  ---section-bg-color: rgb(13 110 253 / 0%);
  ---primary-font-family: "Rubik", sans-serif;
  ---secondary-font-family: "Comfortaa", cursive;
  ---alternative-font-family: "Rubik", sans-serif;
  ---letter-spacing: 1px;
  --third-font-family: "Baloo Paaji 2", cursive;
  ---primary-font-color: #ffffff;
  ---box-shadow-links: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  ---link-hover-color: #a1005e;
  ---accent-font-color: hsl(325, 52%, 47%);
  ---heading-colour: #fa93cf;
  ---button-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px,
    rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px,
    rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

body {
  background: #484e5f;
}

body.enter-bg {
  background: radial-gradient(
    circle at 50% 30%,
    rgb(251, 222, 238) 20%,
    rgb(206, 201, 226) 80.3%
  );
  background-attachment: fixed;
}

.logo {
  max-height: 250px;
  margin: -100px -40px -60px;
  -webkit-filter: drop-shadow(-6px -39px -5px #484e60);
  filter: drop-shadow(-2px 6px 9px #000);
}

div.caz-page {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.enter-logo {
  filter: drop-shadow(-2px 6px 9px #000);
}

div.enter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-heading,
.sub-heading {
  font-family: var(--third-font-family);
  filter: drop-shadow(0px 5px 58px rgb(255, 176, 221));
}
.main-heading {
  color: #c9649f;
  font-size: 63px;
  margin-top: 7px;
}

.sub-heading {
  color: #484e5fcf;
  font-size: 38px;
}

.button-enter,
.button-exit {
  align-items: center;
  background: #df8cb8fa;
  color: #ffffff;
  padding: 39px 16px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
  border: solid 0.5px #c9b1bd52;
  border-radius: 50%;
  margin-bottom: 51px;
  margin-top: -42px;
}

.button-enter:hover,
.button-exit:hover {
  background-color: #f8b2de;
  color: #484e5f;
  font-size: larger;
}

.button-exit {
  display: flex;
  margin: 0 auto;
  padding: 37px 20px;
}

.navbar > .container-fluid {
  flex: column;
  align-content: space-between;
  justify-content: center;
  align-items: baseline;
  margin-bottom: 3px;
}

span.navbar-toggler-icon {
  width: 40px !important;
  height: 40px !important;
}
button.navbar-toggler {
  margin-left: 27px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border: solid 0.5px #faedf46b;
  box-shadow: var(---button-shadow);
}

.navbar-cc {
  background: radial-gradient(
    circle at 10% 30%,
    rgb(251, 222, 238) 20%,
    rgb(206, 201, 226) 80.3%
  );
  font-size: 1.25rem;
  margin-bottom: -13px;
}
.navbar-collapse {
  margin-top: 60px;
}

.nav-link {
  color: hsl(325, 88%, 35%);
  line-height: 75px;
  letter-spacing: var(---letter-spacing);
  margin-left: 51px;
}

.nav-link:hover {
  color: var(---link-hover-color);
}

.navbar-nav .nav-link.active {
  color: var(---accent-font-color);
}

ul.navbar-nav {
  padding: 6px;
  color: #9e115c;
}
ul.navbar-nav:hover {
  color: #f86eb8;
}

.nav-item {
  margin-bottom: 0;
}

h1 {
  color: var(---primary-font-color);
}

h2 {
  text-align: center;
}

h3 {
  margin-top: 10px;
  font-family: var(--third-font-family);
  font-size: 60px;
  color: var(---primary-font-color);
}

p {
  font-size: 18px;
  margin: 20px 25px;
  letter-spacing: 0px;
  text-align: justify;
  line-height: 27px;
  color: #ececec;
}

.hello {
  display: flex;
  margin-top: 60px;
  margin-bottom: -20px;
  padding: 0px 40px;
  flex-direction: column;
  align-items: flex-end;
}

.name {
  color: #e452a7;
  font-size: 60px;
}

.container-fluid {
  flex-direction: row;
}

div.container-fluid {
  justify-content: flex-end;
  padding: 0;
}

.row-intro {
  display: flex;
  flex-direction: column-reverse;
}

.row {
  flex-direction: row-reverse;
}

#row {
  display: flex;
  justify-content: space-around;
  align-content: flex-end;
  flex-direction: row;
  align-items: flex-start;
}

.one,
.two {
  font-family: var(---alternative-font-family);
  color: var(---primary-font-color);
}

.headings,
.about-heading {
  font-size: 26px;
  font-weight: 700;
  font-family: var(--third-font-family);
  letter-spacing: 1px;
  color: var(---heading-colour);
  line-height: var(---line-height);
}

.about-heading {
  margin-top: 40px;
  margin-bottom: 22px;
}

.image-lp {
  max-width: 600px;
}
.rounded {
  --bs-border-radius: 11px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.link {
  letter-spacing: -1px;
  font-size: 14px;
  text-decoration: none;
  color: #484e60;
  font-family: var(---alternative-font-family);
}

.link {
  margin: auto;
  max-width: fit-content;
  text-align: center;
  border-style: line;
  color: var(---primary-font-color);
  font-weight: 800;
  letter-spacing: 1.5px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background-color: #ffffff5c;
  box-shadow: var(---button-shadow);
}
.link:hover {
  color: var(---link-hover-color) !important;
  transition: ease-in-out 0.2s;
  font-size: 15px;
}

section.lplink-position {
  text-align: center;
  margin-top: 35px;
}

.linktree {
  display: flex;
  margin-top: 0;
  align-items: center;
  flex-direction: column;
  font-family: var(---alternative-font-family);
  color: #ececec;
  font-size: 20px;
}
.link-linktree {
  padding: 0;
  margin: auto;
  max-width: fit-content;
  text-align: center;
  border-style: line;
  font-family: var(---alternative-font-family);
  font-size: 15px;
  letter-spacing: 1px;
  color: var(---primary-font-color);
  font-weight: 800;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background-color: #ffffff5c;
  box-shadow: var(---button-shadow);
}

.link-linktree:hover {
  color: var(---link-hover-color) !important;
  transition: ease-in-out 0.2s;
  font-size: 15px;
}

.para-me {
  font-family: var(---alternative-font-family);
  margin-top: 0;
  font-size: 17px;
}

.coded-by,
a.github-link {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #919191;
  text-align: center;
  font-size: 13px;
  margin-top: -2px;
  line-height: 1;
}
a.github-link {
  text-decoration: underline;
}

div.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: -38px;
}
#caroline {
  border-radius: 10px;
  box-shadow: var(---button-shadow);
}

.achievements {
  display: flex;
  font-family: var(---alternative-font-family);
  letter-spacing: -1px;
  flex-direction: column;
  letter-spacing: 1px;
  justify-content: center;
  align-content: center;
  align-items: center;
  color: #ececec;
}

div.certificates {
  display: flex;
  justify-content: center;
  box-shadow: var(---box-shadow-links);
  background-color: #0000000a;
  margin-top: 25px;
  margin-top: 52px;
}

.contact-information {
  border-style: inset;
  border: 0.5px solid rgb(0 0 0 / 15%);
  border-radius: 10px;
  margin-top: 80px;
  margin-bottom: 20px;
  background: #e9ecef30;
  box-shadow: var(---box-shadow-links);
}

#contact-me {
  margin: 26px 0 5px;
  padding: 36px;
  line-height: 29px;
  font-size: 19px;
  font-family: var(---alternative-font-family);
  text-align: center;
}
button.email-button {
  margin: 0 auto;
  border-radius: 5px;
  display: flex;
  align-items: center;
  border: solid 0.5px #faedf46b;
  box-shadow: var(---button-shadow);
  padding: 12px;
}

#social-contact {
  margin: -2px 0 5px;
  padding: 25px;
  line-height: 29px;
  font-size: 19px;
  font-family: var(---alternative-font-family);
  text-align: center;
}

div.contact {
  display: flex;
  justify-content: center;
  padding: 98px;
}

div.contact-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 40px;
  margin-right: 20px;
}

div.container.text-center {
  display: flex;
  justify-content: center;
}

.how-to-contact,
.email,
.social-heading {
  display: flex;
  justify-content: center;
  color: var(---heading-colour);
  font-size: 28px;
  text-decoration: none;
  font-family: var(--third-font-family);
}

h2.email {
  margin-bottom: 30px !important;
}

h2.social-heading {
  margin-top: 46px !important;
}

.how-to-contact {
  margin-top: 55px;
  font-size: 50px;
  color: var(---heading-colour);
}

.email-address {
  display: flex;
  color: #c774a8;
  font-size: 17px;
  font-family: var(--third-font-family);
  text-decoration: none;
}

.email-address:active:hover {
  color: var(---accent-font-color);
}

.email-address:hover {
  color: var(---link-hover-color);
}

.social {
  display: flex;
  max-width: 60px;
  font-size: 38px;
  padding: 13px;
}
.fa-brands {
  color: var(---heading-colour);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  border-radius: 10px;
}

.row.icons {
  flex-direction: row;
}
a.icon {
  font-size: 39px;
}

.thanks {
  font-family: var(--third-font-family);
  margin: 36px 0 36px;
  padding: 36px;
  font-size: 30px;
  text-align: center;
  color: var(---primary-font-color);
  letter-spacing: 0px;
}

a.top-page {
  color: #e452a7;
  text-decoration: none;
  font-size: 60px;
}
a {
  color: #fd75c5;
  text-decoration: none;
  font-size: 18px;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
    justify-content: center;
    align-content: stretch;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 32px;
  }
}

@media (max-width: 992px) {
  .row {
    flex-direction: column;
    padding: 15px;
  }
  #row {
    margin-top: -62px;
    flex-direction: column;
  }
  .row-intro {
    padding: 0;
    width: 107%;
    display: flex;
    flex-direction: column-reverse;
  }
  p {
    font-size: 16px;
    text-align: justify;
  }
  .logo {
    display: none;
  }
  a.top-page {
    font-size: 24px !important;
  }
  .headings {
    font-size: 21px;
    margin-left: 8px;
  }
  .mb-3 {
    margin-bottom: 2rem !important;
  }
  .mt-5 {
    margin-top: -1rem !important;
  }
  .mb-5 {
    margin-bottom: 2rem !important;
  }
  .p-5 {
    padding: 12px !important;
    margin-top: 28px;
    margin-left: -6px;
  }

  h3 {
    font-size: 30px;
    margin-bottom: 0px;
  }
  h3.name {
    text-align: right;
    font-size: 30px;
  }
  a.top-page {
    font-size: 30px !important;
  }
  .hello {
    margin-top: 60px;
    margin-bottom: 9px;
    margin-left: -9px;
    margin-right: 10px;
  }

  .nav-link {
    display: inline;
    font-size: 18px;
    margin-left: 3px;
    margin-bottom: -28px;
    padding: 24px;
    line-height: 75px;
    letter-spacing: var(---letter-spacing);
  }

  .img-fluid {
    max-inline-size: 100%;
    margin-left: 5px;
  }
  #tropical-weather {
    margin-top: -14px;
  }
  section.lplink-position {
    text-align: center;
    margin-top: 9px;
  }
  .how-to-contact {
    font-size: 37px !important;
  }
  .contact-information {
    background: #e9ecef30;
  }

  .social {
    font-size: 42px;
    padding: 10px;
  }
  a.icon {
    font-size: 36px;
  }
  .thanks {
    letter-spacing: 2px;
    line-height: 35px;
    padding: 11px;
  }
  p.thanks {
    font-size: 18px;
  }
  .linktree {
    font-size: large;
    color: var(---primary-font-color);
    padding-top: 55px;
    line-height: 25px;
  }
  .link-linktree {
    font-family: var(---alternative-font-family);
  }
  p.linktree {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: var(---alternative-font-family);
    color: #ececec;
    margin-top: -58px;
    margin-bottom: 28px;
  }
  .para-me {
    font-family: var(---alternative-font-family);
    margin-top: 7px;
    font-size: 18px;
  }
  #caroline {
    margin: 32px 0px 0px 12px;
    box-shadow: var(---box-shadow-links);
    max-width: 80%;
  }
  div.caz-page {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    padding: 37px;
    font-size: 2px;
  }
  div.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
    margin-right: 16px;
  }
  #achievement {
    margin-top: 60px !important;
  }

  div.container-fluid {
    padding: 0px;
  }
  div.apps {
    margin-right: -5px;
  }
  div.certificates {
    display: flex;
    box-shadow: var(---box-shadow-links);
    background-color: #0000000a;
    justify-content: center;
    padding: 4px 20px;
  }
  .enter-logo {
    max-width: 350px;
    margin-top: 15px;
  }
  .button-exit {
    display: flex;
    margin-top: 28px;
    padding: 35px 17px;
    margin: 0 auto;
  }
  .button-enter:hover,
  .button-exit:hover {
    background-color: #f8b2de;
    color: #484e5f;
    font-size: larger;
  }
  .main-heading {
    margin-top: 5px;
    font-size: 33px;
  }
  .sub-heading {
    font-size: 21px;
  }
  .achievements {
    font-size: 15px;
    letter-spacing: 1px;
    color: #ececec;
    padding: 10px;
  }
}
